<h1>Top 10 Reads</h1>


<table>
  <th>Rank</th>
  <th>URL</th>
  <th>Hits</th>
  <% @top_reads.each do |read| %>
    <tr>
      <td><%= read.rank %><td>
      <td><%= read.url %></td>
      <td><%= read.hits %></td>
    </tr>
  <% end %>
</table>
