<h1>Top 10 Reads</h1>


<table>
  <th>URL</th>
  <th>Hits</th>
  <% @top_reads.each do |url, hits| %>
    <tr class='read'>
      <td><%= url %></td>
      <td><%= hits %></td>
    </tr>
  <% end %>
</table>
