<h1>Top 10 Reads</h1>


<table>
  <th>Rank</th>
  <th>URL</th>
  <th>Hits</th>
  <% @reads.each_with_index do |read, index| %>
    <tr>
      <td><%= index + 1 %><td>
      <td><%= read.url %></td>
      <td><%= read.hits %></td>
    </tr>
  <% end %>
</table>
